body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
.flexible-continer {
    display: flex;
}
.half-width {
    width: 50%;
    margin-left: 100px;
}
.half-width img {
    width: 90%;
}
.half-width P {
    color: #666;
    line-height: 20px;
    width: 90%;
}
.button {
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
/* dream big section */
.dream-big {
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* experiences section */
.experiences {
    padding: 50px;
}
.experiences div {
    width: 80%;
}
.ecperience-card-area {
    display: flex;
}

@media screen and (max-width: 900px) {
    .top-section {
      display: block;
      align-items: center;
      padding: 50px;
      text-align: justify;
    }
    h1 {
        text-align: center;
        font-size: 40px;
    }
    .half-width {
        width: 100%;
        margin: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .half-width img {
        width: 100%;
    }
    .orange-color {
        margin-top: 0;
    }
  }